*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: column;
}

.container-logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    width: 334px;
    height: 79px;
    /*margin: 63px 1048px 0 100px;*/
}

.logo-ramda {
    color: #4BCAFF;
}

.left-logo-decorate {
    color: black;
}

.navigation-row {
    background: #35444F;
    width: 1280px;
    height: 69px;
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigation-item {
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
}

.navigation-link {
    display: inline-block;
    padding: 20px 32px;
}

.navigation-item:last-child {
    border-right: 1px solid white;
}

.navigation-item:hover {
    background: #222F3A;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 49px;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 344px;
    height: 397px;
    border: 1px solid #000000;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.aside-box {
    display: inline-block;
    padding: 26px 0 26px 44px;
    width: 100%;
    text-align: left;
}

.aside-box:hover {
    display: inline-block;
    padding: 26px;
    width: 100%;
    text-align: center;
    background: #DBDBDB;
    font-weight: 600;
}

.content {
    background-image: url(/HM4/images/top-img-fon.jpg);
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 320px;
    height: 381px;

}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 37px;
}

.paragraph1 {
    width: 885px;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.paragraph2 {
    width: 885px;
    height: 109px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    font-size: 28px;
    line-height: 28px;
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #3181A6;
}

.footer-item:last-child {
    margin-left: 135px;
}